* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

/* common elements */

a {
  color: #1b911d;
  text-decoration: none;
}

a:hover {
  color: #67db65;
}

li {
  margin: 0px 0px 0px 15px;
}

img {
  border-radius: 10px;
  max-width: 95%;
}

blockquote {
  padding: 10px;
  margin: 0 10px 0 0;
  border-left: 10px solid #0ea400;
  background-color: #04ec001e;
}

pre {
  background-color: #04ec001e;
  border-left: 3px solid #0ea400;
  page-break-inside: avoid;
  font-family: monospace;
  line-height: 1.6;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  margin: 0 10px 0 0;
  font-size: 14px;
}

code {
  font: monospace;
  font-size: 14px;
  /* add some background color to this */
}

table {
  width: fit-content;
  border-collapse: collapse;
}

th, td {
  padding: 5px 5px;
  text-align: left;
  border: 1px solid #979797;
}

th {
  background-color: #28592c3a;
  font-weight: bold;
}

tr:hover {
  background-color: #007f2f;
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #1b911d, #67db65);
  margin: 0px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* main */

.page-wrapper {
  color: #fff;
  background-color: #222222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  max-width: 800px;
  margin: 0px auto;
  padding: 0 20px;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 30px 0px;
}

/* post/article */

.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  background-color: #0000004f;
  border-radius: 5px;
}

/* other components */

.icon {
  width: 32px;
}

.medium-icon {
  width: 22px;
}

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #0000004f;
  color: inherit;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.link-button:hover {
  background-color: #0ea400;
}

/* main page */

.inside-page-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.aside {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: flex 0.3s ease, margin-left 0.3s ease;
}

.aside.hidden {
  flex: 0;
  margin-left: -250px;
  overflow: hidden;
}

.aside button {
  width: 150px;
  color: #fff;
}

.main-page {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: flex 0.3s ease;
  flex-grow: 1; /* <-- Add this */
}

.main-page.expanded {
  flex: 1;
}

.menu-icon {
  cursor: pointer;
}

.posts-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color: #0000004f;
  margin: 0;
  padding: 10px;
  max-height: 100px;
  border-radius: 5px;
}

.posts-list-item:hover {
  background-color: #0ea400;
}

.posts-list-item a, p {
  color: #fff;
}


.site-title {
  color: #fff;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 0px 10px 10px;
  background-color: #0000004f;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}

.post-title-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0 0 10px 0;
  padding: 10px 0px 10px 10px;
  background-color: #0000004f;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.grid-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* site nav */

.site-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: auto 0 10px 0;
  padding: 30px 0px 0px 0px;
}

.footer a {
  color: #fff;
}

@media (max-width: 768px) {
  .page-wrapper {
    padding: 0 10px;
  }

  .aside {
    flex: 0;
    margin-left: -250px;
    overflow: hidden;
  }
}