<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <meta name="keywords" content="{{tags}}">
  <meta name="author" content="a.b.agora">
  <meta name="robots" content="index, follow">
  <link rel="icon" href="{{icon}}" type="image/png">
  <title>{{title}} | abagora</title>
  <meta name="description" content="{{description}}">
</head>
<body class="page-wrapper">
  <header class="header">
    <h1><a class="site-title" href="/index">a.b.agora</a></h1>
  </header>

  <div class="post-title-section">
    <img class="icon" src="{{icon}}" alt="">
    <h1>{{title}}</h1>
  </div>
  <div class="info-wrapper">
    <img class="medium-icon" src="../images/clock.svg" alt="">
    <div>Published: {{date}}</div>
  </div>
  <div class="info-wrapper">
    <img class="medium-icon" src="../images/tag.svg" alt="">
    <div>Tags: {{tags}}</div>
  </div>
  <article class="article">{{content}}</article>

  <footer class="footer">
    <nav class="footer-section">
      <h3>Miscellaneous</h3>
      <a href="../page/digital-garden">
        <button class="link-button">
          <img src="../images/flower-2.svg" alt="">
          <div>Digital Garden</div>
        </button>
      </a>
      <a href="../page/about">
        <button class="link-button">
          <img src="../images/info.svg" alt="">
          <div>About</div>
        </button>
      </a>
    </nav>
    <p>Still in construction 🏗️</p>
  </footer>

  <script src="../script.js"></script>
</body>
</html>   